node_modules
xcuserdata
project.xcworkspace
.DS_Store
.idea
node_modules/
android/build
Podfile.lock
WebRTC.xcframework
WebRTC.dSYMs
examples/GumTestApp/package-lock.json
examples/GumTestApp_macOS/package-lock.json
